.root {
    flex-grow: 1;
    box-shadow: 1px 2px 10px #888888;
  }
  .grow {
    flex-grow: 1;
  }
  .menuButton {
    margin-left: -12;
    margin-right: 20;
  }
  .colorPrimary {
      background-color: white;
      color: black;
      padding: 5,
  }
  .ToolOption {        
      padding: 5;
      padding-left: 10%;
      padding-right: 10%;
  }
  .option {
      padding-right: 20;
  }